<a href="https://colab.research.google.com/github/Amitkmar/python-programming/blob/main/class_method.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [55]:
class Academy:
  def __init__(self, name, location):
    self.name = name
    self.location = location
  def student_details(self):
    print(self.name,self.location)

In [56]:
ac=Academy("Amit","Haryana")

In [57]:
ac.location

'Haryana'

In [58]:
ac.name

'Amit'

In [59]:
ac.student_details()

Amit Haryana

In [60]:
#python ke ander direct function overloading ka concept nahi hai
#lekin phir bhi hmm overload kr skte hai kisi bhi function ko
#with the help of class methods

class Academy1:
  def __init__(self, name, location):
    self.name = name
    self.location = location

   #details function main hmm self pass nahi krenge kuch aur
   #yaani cls pass kiya as a reference
   #decorator classmethod ka use krenge taki hmm bina init
   #method ke data pass kr ske
  @classmethod
  def details(cls,name,location):
    return cls(name,location)


  def student_details(self):
    print(self.name,self.location)

In [61]:
#yaha par bina object bnaye bhi data pass kiya jaa skta hai
#details method ek class method hai,ishe hmm directly class
#ke naam se bhi call kr skte hai
#init method ko overload kr diya bina init method ke
#details method ki hekp se data ko pass kr diya
ac1=Academy1.details("Amit","Haryana")

In [62]:
ac1.name

'Amit'

In [63]:
ac1.location

'Haryana'

In [64]:
ac1.student_details()

Amit Haryana

In [65]:
class Academy2:
  #class variable
  mobile_num=32443535

  def __init__(self, name, location):
    self.name = name
    self.location = location

  @classmethod
  def change_num(cls,mobile):
    Academy2.mobile_num=mobile

  @classmethod
  def details(cls,name,location):
    return cls(name,location)


  def student_details(self):
    print(self.name,self.location,Academy2.mobile_num)

In [66]:
#acess class variable with the help of class name
#rather than creating object
Academy2.mobile_num

32443535

In [67]:
Academy2.change_num(23423423)

In [68]:
Academy2.mobile_num

23423423

In [69]:
#object ki help se data ko access
ac_obj=Academy2("amit","haryana")

In [70]:
ac_obj.student_details()

amit haryana 23423423

In [71]:
class Academy3:
  #class variable
  mobile_num=32443535

  def __init__(self, name, location):
    self.name = name
    self.location = location

  @classmethod
  def change_num(cls,mobile):
    Academy3.mobile_num=mobile

  @classmethod
  def details(cls,name,location):
    return cls(name,location)

  def student_details(self):
    print(self.name,self.location,Academy2.mobile_num)

In [73]:
#external function outside class
def couurse_details(cls,course):
  print(course)

In [74]:
#external function ko Academy3 main kaise add kre
Academy3.course_details=classmethod(couurse_details)

In [75]:
Academy3.course_details("data science")

data science

In [76]:
def mentor(cls,list_of_mentor):
  print(list_of_mentor)

In [77]:
Academy3.mentor=classmethod(mentor)

In [78]:
Academy3.mentor(["naveen","anurag","himanshu"])

['naveen', 'anurag', 'himanshu']

In [79]:
class Academy4:
  #class variable
  mobile_num=32443535

  def __init__(self, name, location):
    self.name = name
    self.location = location

  @classmethod
  def change_num(cls,mobile):
    Academy4.mobile_num=mobile

  @classmethod
  def details(cls,name,location):
    return cls(name,location)

  def student_details(self):
    print(self.name,self.location,Academy2.mobile_num)

In [80]:
#deleting a function from a class
del Academy4.change_num

In [81]:
Academy4.change_num(13343543)

AttributeError: type object 'Academy4' has no attribute 'change_num'

In [82]:
#second method to delete a function
delattr(Academy4,"details")

In [83]:
Academy4.details("amit","haryana")

AttributeError: type object 'Academy4' has no attribute 'details'

In [84]:
delattr(Academy4,"student_details")

In [85]:
#deleting both direct class method or indirect class method
Academy4.student_details()

AttributeError: type object 'Academy4' has no attribute 'student_details'

In [86]:
#deleting a class variable also
delattr(Academy4,"mobile_num")