<a href="https://colab.research.google.com/github/Amitkmar/python-programming/blob/main/comprehension.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# provide a concise and efficient way to create new sequences from existing literals
# alternate way to use for loop for transformation and filtering

In [2]:
#printing square of all element in list {method 1}
l=[1,2,3,4,6,9,10]
l1=[]
for i in l :
  l1.append(i**2)
print(l1)

[1, 4, 9, 16, 36, 81, 100]

In [4]:
#printing square of all element in list {method 2} using comprehension
l=[1,2,3,4,6,9,10]
[i**2 for i in l]
#i**2 represent output

[1, 4, 9, 16, 36, 81, 100]

In [5]:
#printing number placed at even position in list
l=[1,2,3,4,6,9,10]
[i for i in l if i%2==0]
#if i%2==0 represent condition

[2, 4, 6, 10]

In [6]:
l1=["sudh","pwskills","kumar","data science master"]
[i.upper() for i in l1]

['SUDH', 'PWSKILLS', 'KUMAR', 'DATA SCIENCE MASTER']

In [7]:
d = {"key1" : "value1", "key2" : "value2"}
for k,v in d.items():
  print(k,v)

key1 value1
key2 value2

In [9]:
# now using comprehension
d1 = {"key1" : 1, "key2" : 2}
{k:v**2 for k,v in d1.items()}

{'key1': 1, 'key2': 4}

In [11]:
{k:v for k,v in d1.items() if v>1}

{'key2': 2}